body {
    font-family: Verdana;
    font-size: 10pt;
    margin-top: 100px;
}

.login-form {
    margin-top: 100px !important;
}

.upload-form {
    margin-top: 50px;
}

.upload-icon {
    padding-right: 10px;
}

.center {
    text-align: center;
}