body {
    font-family: Verdana;
    font-size: 10pt;
    margin-top: 100px !important;
}

h1 {
    color: darkblue;
}

body {
    height:800px;
    width: 100%;
    padding-left:40px;
    background-color: white;
}